.Card:hover{
    cursor: pointer;
}

.Card img{
    height: 22vh;
    width: 15vw;
    border: 1px solid rgb(136, 0, 68);
}

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
}